<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/login.css">
    
    <title>Document</title>
</head>

<body>
    <div class="form__login">
        <form action="/user/login" method="post">
            <h1>Vui long đăng nhập</h1>
            <label for="login" class="login__close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg></label>
            <div class="form__login-email">
                <input class="form__input" name="email" type="email" placeholder=" nhập email hoặc sđt">
            </div>
            <br />
            <div class="form__login-password">
                <input class="form__input" type="password" name="password" placeholder=" nhập mật khẩu">
            </div>
            <br />
            <button class="form__login-btn btn_hover" type="submit" id="login" onchange="checkUser"> đăng nhập</button>
            <div class="form__login-forgot">
                <a href="">Quên mật khẩu?</a>
            </div>
            <hr>
            <div class="form__login-register">
                <a href="#">Đăng ký tài khoản</a>
            </div>
        </form>
    </div>

 
</body>